{% extends 'base.html' %}

{% block title %}
    {{ page_title }} | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="card mb-3 border-0 nth-shadow">

        <div class="card-body">
            <div class="card-title">
                <h1>{{ page_title }}</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark mt-2">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}