{% extends 'base.html' %}
{% block title %}
    {{ page_title }} | {{ block.super }}
{% endblock %}


{% block body %}
    <main id="tm-main">
        <!--  -->
        <div id="blog" class="uk-section-default uk-section">
            <div class="uk-container">
                <h3>request.resolver_match </h3>
                <p>{{ request_resolver_match }}</p>
                <h3>request.meta ipaddress </h3>
                <p>{{ ipaddress }}</p>
                <h3>request.meta  </h3>
                <p>{{ meta }}</p>
                <h3>request </h3>
                <p>{{ request }}</p>
            </div>
        </div>
    </main>
    

{% endblock %}