{% extends 'base.html' %}

{% block title %}
    {{ page_header }} | {{ block.super }}
{% endblock %}

{% block body %}
    <main id="tm-main">
        <!--  -->
        <div class="uk-section-default uk-section">
            <div class="uk-container">
                <fieldset class="uk-fieldset">
                <h1>{{ page_title }}</h1>
                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="uk-button uk-button-primary" type="submit">Отправить</button>
                </form>
                </fieldset>

            </div>
        </div>
    </main>



{% endblock %}