{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ page_title }} | {{ block.super }}
{% endblock %}


{% block body %}
    <main id="tm-main">
        <!--  -->
        <div id="blog" class="uk-section-default uk-section">
            <div class="uk-container">
                <div class="uk-grid tm-grid-expand uk-child-width-1-1 uk-grid-margin">
                    <div class="uk-width-1-1">
                        <h1> {{ page_title }} </h1>
                    </div>
                </div>
                <div class="uk-grid tm-grid-expand uk-grid-margin" uk-grid>

                    {# main body blog #}
                    <div class="uk-width-2-3@m uk-flex-first@m">
                        <div class="uk-margin">
                            <div class="uk-grid 
                            uk-child-width-1-1 
                            uk-child-width-1-2@m 
                            uk-grid-column-medium 
                            uk-grid-match"
                                 uk-grid>

                                {% if object_list %}
                                    {% for item in object_list %}
                                        <div class="uk-grid-margin">
                                            <div class="el-item uk-grid-item-match">
                                                <div class="uk-card uk-card-default uk-card-small 
                                                uk-card-hover uk-margin-remove-first-child uk-link-toggle uk-display-block">
                                                    <div class="uk-card-media-top">
                                                        <img decoding="async"
                                                             src="
                                                                     {% if item.photo %}{{ item.photo.url }}{% else %}{% static 'images/BestCow800x450.jpg' %}{% endif %}"
                                                             class="el-image"
                                                             alt="{{ item.title }}"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="uk-card-body uk-margin-remove-first-child">
                                                        <a href="{{ item.get_absolute_url }}">
                                                            {#  href="{% url 'blog:news_details' item.slug %}">#}
                                                            <h3 class="el-title uk-card-title uk-margin-top uk-margin-remove-bottom">
                                                                <span class="uk-link-heading">{{ item.title }}</span>
                                                            </h3>
                                                        </a>
                                                        <div class="el-meta uk-text-meta uk-margin-top">

                                                            <a href="{% url 'blog:news_by_category' item.category.slug %}">
                                                                {{ item.category.title }}</a>
                                                            |
                                                            <a href="{{ item.created_by.profile.get_absolute_url }}">
                                                                {{ item.created_by.username }}</a>
                                                            |
                                                            {{ item.created_at }}

                                                        </div>
                                                        <div class="el-content uk-panel uk-margin-top">
                                                            {% autoescape off %}
                                                                {{ item.short_content|safe|truncatechars:77 }}
                                                            {% endautoescape %}
                                                        </div>
                                                        {# likes  #}
                                                        <div class="rating-buttons">
                                                            <button class="btn btn-sm btn-primary"
                                                                    data-article="{{ item.id }}" data-value="1">Лайк
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary"
                                                                    data-article="{{ item.id }}" data-value="-1">
                                                                Дизлайк
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary rating-sum">{{ item.get_sum_rating }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h2>Новостей пока нет</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# sidebar #}
                    {% include 'blog/sidebar.html' %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
<script src="{% static 'custom/js/ratings.js' %}"></script>
{% endblock%}