{#{% load mptt_tags %}#}

{# Ниже имеется ввиду Загрузить - имя файла в blog/templatetags/ через пробел#}
{% load category_menu_sidebar blog_tags  %}
{# кэш для Популярные статьи за 7 дней #}
{% load blog_tags cache %}

<div class="uk-width-1-3@m uk-flex-first@s">
    {# IncludeTag имя функции в blog/templatetags/category_menu_sidebar.py #}
    {% show_category_menu %}

    {# SimpleTag имя функции в blog/templatetags/blog_tags.py #}
    <div class="card mb-2">
            <h5>Популярные теги</h5>
            <div class="card-text">
                <ul>
                    {% popular_tags as tag_list %}
                    {% for tag in tag_list %}
                        <li><a href="{% url 'blog:news_by_tags' tag.slug %}">{{ tag.name }}</a> ({{ tag.num_times }})
                        </li>
                    {% empty %}
                        <li>Популярных тегов не найдено.</li>
                    {% endfor %}
                </ul>
            </div>
    </div>

    {# IncludeTag имя функции в blog/templatetags/blog_tags.py #}
    {# количество выводимых комментариев = 5. #}
    {% show_latest_comments count=5 %}
{% cache 300 sidebar %}
<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">Популярные статьи за 7 дней</h5>
		<div class="card-text">
			<ul>
				{% popular_articles as articles_list %}
        		{% for article in articles_list %}
{#  Список популярных статей на сайте, где () это всего просмотров, где +() - просмотров за день #}
				<li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a> ({{ article.get_view_count }}) +({{ article.get_today_view_count}})</li>
				{% empty %}
				<li>Популярных статей не найдено.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endcache %}

</div>
{# было ранее Категории без использования шаблонныхТэгов#}
{#{% full_tree_for_model blog.Category as categories %}#}
{#    <ul class="uk-list uk-list-striped">#}
{##}
{#        {% recursetree categories  %}#}
{#      recursetree      category_published  --or categories  #}
{#            <li class="el-item">#}
{##}
{#                <a href="{{ node.get_absolute_url }}" uk-scroll class="uk-link-toggle">#}
{#                    <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap uk-flex-middle" uk-grid>#}
{#                        <div>#}
{#                            <div class="el-content uk-panel uk-h5">#}
{#                                <span class="uk-link uk-margin-remove-last-child">{{ node.title }}#}
{#                                </span>#}
{#                            </div>#}
{#                            {% if not node.is_leaf_node %}#}
{#                                <ul>{% endif %}#}
{#                            {{ children }}#}
{##}
{#                            {% if not node.is_leaf_node %}</ul>{% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </li>#}
{#        {% endrecursetree %}#}
{#    </ul>#}
{#</div>#}

{#{% for i in category_published %}#}
{#    {{ i }}#}
{#{% endfor %}#}
{#<ul class="root">#}
{#test#}
{#{% for category in category_published %}#}
{#    {% recursetree category_published %}#}
{#        <li>#}
{#            <a href="{% url 'blog:news_by_category' category.slug|slugify %}">{{ category.title }}</a>#}
{#            {% if not node.is_leaf_node %}#}
{#                <ul class="children">#}
{#                    {{ children }}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}
