{% load static %}
<!-- Мобила -->
<header class="tm-header-mobile uk-hidden@m" uk-header>
    <div class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar" uk-navbar="{&quot;container&quot;:&quot;.tm-header-mobile&quot;}">
                <div class="uk-navbar-left">
                    <a href="{% url 'blog:news_list' %}" aria-label="Вернуться на главную"
                       class="uk-logo uk-navbar-item">
                        <img alt="Work work!" loading="eager" width="155" height="30"
                             src="{% static 'logo.svg' %}"></a>
                </div>
                <div class="uk-navbar-right">
                    <a uk-toggle href="#tm-dialog-mobile" class="uk-navbar-toggle">
                        <div uk-navbar-toggle-icon></div>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    {# --------------- mobile start ---------------#}
    <div id="tm-dialog-mobile" uk-offcanvas="container: true; overlay: true" mode="slide" flip>
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close
                    uk-toggle="cls: uk-close-large; mode: media; media: @s"></button>
            <div class="uk-margin-auto-bottom">
                <div class="uk-grid uk-child-width-1-1">
                    <div>
                        <div class="uk-panel widget widget_nav_menu" id="nav_menu-2">
                            <ul class="uk-nav uk-nav-default">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item uk-active">
                                    <a href="#"> Main page</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="#"> Пример страницы</a></li>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a
                                        href="#">
                                    Без рубрики</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{# --------------- mobile end  ---------------#}
{# --------------- Desktop start ---------------#}
<header class="tm-header uk-visible@m" uk-header>
    <div class="uk-navbar-container">
        <div class="uk-container">
            <nav class="uk-navbar"
                 uk-navbar="{&quot;align&quot;:&quot;left&quot;,&quot;container&quot;:&quot;.tm-header&quot;,&quot;boundary&quot;:&quot;.tm-header .uk-navbar-container&quot;}">
                <div class="uk-navbar-left">
                    <a href="{% url 'blog:news_list' %}" aria-label="Вернуться в начало"
                       class="uk-logo uk-navbar-item">
                        <img alt="Work work!" loading="eager" width="145" height="30"
                             src="{% static 'logo.svg' %}"></a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="menu-item  menu-item-home 
                                        {% if request.resolver_match.url_name == "news_list" %}uk-active{% endif %} ">
                            <a href="{% url 'blog:news_list' %}">Главная</a></li>

                        <li class="menu-item 
                                    {% if request.resolver_match.url_name == "news_create" %}uk-active{% endif %}"><a
                                href="{% url 'blog:news_create' %}">Добавить</a></li>

                        <li class="menu-item 
{% if request.resolver_match.url_name == "news_request" %}uk-active{% endif %}"><a
                                href="{% url 'blog:news_request' %}">Запросы</a></li>
                    </ul>
                </div>

                <div class="uk-navbar-right">
                    <div class="uk-navbar-item widget widget_builderwidget" id="builderwidget-3">
                        <div class="uk-grid tm-grid-expand uk-child-width-1-1 uk-grid-margin">
                            <div class="uk-width-1-1">
                                <div class="uk-margin">
                                    <div class="uk-flex-middle uk-grid-small uk-child-width-auto uk-grid" uk-grid>


                                        {% if not user.is_authenticated %}
                                            {# если НЕ авторизован #}
                                            <div class="el-item uk-first-column">
                                                <a class="el-content " href="{% url 'system:login' %}" uk-scroll>
                                                    <b>Войти</b>
                                                </a>
                                            </div>
                                            <div class="el-item">
                                                <a class="el-content uk-button uk-button-primary"
                                                   href="{% url 'system:register' %}" uk-scroll>
                                                    Регистрация
                                                </a>
                                            </div>
                                        {% endif %}

                                        {% if user.is_authenticated %}
                                            {# если авторизован #}
                                            <div class="el-item uk-first-column">
                                                <a class="el-content " href="{% url 'system:profile_detail' slug=user.profile.slug %}" uk-scroll>
                                                <b>Профиль: {{ user.username }}</b>
                                                </a>
                                            </div>

                                            <div class="el-item">
                                                <a class="el-content " href="{% url 'system:profile_edit' slug=user.profile.slug %}" uk-scroll>
                                                <b>Изменить</b>
                                                </a>
                                            </div>
                                            <div class="el-item">
                                                <a class="el-content " href="{% url 'system:profile_list'%}" uk-scroll>
                                                <b>Список</b>
                                                </a>
                                            </div>
                                            <div class="el-item">
                                                <a class="el-content " href="{% url 'system:password_change'%}" uk-scroll>
                                                <b>Пароль</b>
                                                </a>
                                            </div>

                                            {# выход надо через форму Django 5 #}
                                            <div class="el-item ">
                                                <form action="{% url 'system:logout' %}" method="post">
                                                    {% csrf_token %}
                                                    <button class="el-content uk-button uk-button-link" type="submit">
                                                        Log out
                                                    </button>
                                                </form>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
{# --------------- Desktop end ---------------#}